<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <p><a href="{% url "todo_list_create" %}">Create a new list</a></p>
            <p><a href="{% url "todo_item_create" %}">Create a new item</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_name in todo_lists %} {% comment %} list_name is the for loop variable (the instance), todo_lists is the context key of the todo_list model {% endcomment %}
                    <tr>
                        <td><a href="{% url "todo_list_detail" list_name.id %}">{{ list_name }}</a></td> {% comment %} "todo_list_detail" is the name of the apps url path for list_dtail {% endcomment %}
                        <td>{{ list_name.items.count }}</td> {% comment %} "items" is the related_name to use that is linked to "list" from the TodoItem model class {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
